

.box{
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  background: lightgray;
  text-align: center;
  vertical-align: center;
  font-size: 135px;
}

#newGame{
  display: block;
  margin-left: auto;
  margin-right: auto;
}